{% extends 'layout.html' %}

{% block title %}Acerca de - Cursos AXL{% endblock %}

{% block content %}
    <div class="course">
        <div class="course-info">
            <h3>Curso de Desarrollo Web</h3>
            <p>Este curso te enseñará los fundamentos del desarrollo web, incluyendo HTML, CSS y JavaScript.</p>
        </div>
    </div>

    <div class="course">
        <div class="course-info">
            <h3>Curso de Backend con Node.js</h3>
            <p>Aprende a construir aplicaciones backend utilizando Node.js y Express.</p>
        </div>
    </div>

    <div class="course">
        <div class="course-info">
            <h3>Curso de Bases de Datos</h3>
            <p>Explora conceptos de bases de datos relacionales y no relacionales, incluyendo MongoDB.</p>
        </div>
    </div>
{% endblock %}
