{% extends 'layout.html' %}

{% block title %}Hogar - Cursos AXL{% endblock %}

{% block content %}
    <div class="container home" style="background-image: url('imagenes/programacion.jpg');">
        <div class="overlay">
            <h2>Bienvenido a Cursos AXL</h2>
            <p>Somos una página nueva dedicada a fomentar la educación en programación. Nuestro propósito es facilitar el aprendizaje de habilidades en desarrollo web y software para que existan más programadores capacitados en el mundo digital actual. Desde el frontend con HTML y CSS hasta el backend con tecnologías como Node.js y bases de datos como MongoDB, ofrecemos cursos diseñados para impulsar tu carrera en la programación. Con un enfoque en JavaScript, el lenguaje de programación más popular, nuestros recursos están diseñados para enseñar tanto los conceptos básicos como las técnicas avanzadas, permitiéndote construir aplicaciones web dinámicas e innovadoras.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="imagenes/programacion.jpg" alt="Programación 1" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="imagenes/programacion2.jpg" alt="Programación 2" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="imagenes/programacion3.jpg" alt="Programación 3" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}
